footer .content-container {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}
footer .social-icons {
  display: flex;
  gap: 16px;
  margin: 24px 0;
}

footer a {
  color: #fff;
}
footer a:hover {
  text-decoration: underline;
}
footer .copyright {
  color: #fff;
  font-family: Alegreya;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer h3 {
  color: var(--pink-color);
  font-family: Alegreya;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

footer .links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .links ul li {
  color: #fff;
  font-family: Alegreya;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 8px 16px;
}
footer .copyright.mobile {
  display: none;
}
@media (max-width: 720px) {
  footer .content-container {
    flex-direction: column;
    gap: 40px;
  }
  footer .copyright {
    display: none;
  }
  footer .copyright.mobile {
    display: block;
    color: #fff;
    margin-top: 16px;
  }
  footer .social-icons {
    margin-bottom: 0;
  }
}
