#testimonial .content-container {
  margin-top: 50px;
  display: flex;
  direction: column;
  justify-content: space-between;
}

#testimonial .testimonial {
  width: 264px;
}
#testimonial .testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
#testimonial .testimonial .name {
  font-weight: 700;
  font-size: 20px;
  margin-top: 16px;
}

#testimonial .testimonial .company-name {
  font-size: 13px;
  text-transform: uppercase;
  padding: 6px 0;
  opacity: 0.7;
}
#testimonial .testimonial .review {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #ffff;
  font-family: Alegreya;
  margin-top: 4px;
}
